<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>hotel</display-name>


		
	<!--上传图片 -->
	<servlet>
		<servlet-name>SDKDemo</servlet-name>
		<servlet-class>hotel.servlet.impl.SDKDemoImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SDKDemo</servlet-name>
		<url-pattern>/home/html/SDKDemo.do</url-pattern>
	</servlet-mapping>
	<!--支付类型 -->
	<!--上传图片 -->
	<servlet>
		<servlet-name>UpAjax</servlet-name>
		<servlet-class>hotel.util.updimg.UpAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpAjax</servlet-name>
		<url-pattern>/home/admin/imgupload</url-pattern>
	</servlet-mapping>
	<!--支付类型 -->
	<servlet>
		<servlet-name>Tb_pupaymenttypeServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_pupaymenttypeServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_pupaymenttypeServlet</servlet-name>
		<url-pattern>/home/admin/tb_pupaymenttype.do</url-pattern>
	</servlet-mapping>
	<!--客户类别 -->
	<servlet>
		<servlet-name>Tb_pucategoryServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_pucategoryServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_pucategoryServlet</servlet-name>
		<url-pattern>/home/admin/tb_pucategory.do</url-pattern>
	</servlet-mapping>
	<!--客户类型 -->
	<servlet>
		<servlet-name>Tb_putype</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_putypeServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_putype</servlet-name>
		<url-pattern>/home/admin/tb_putype.do</url-pattern>
	</servlet-mapping>
	<!--国籍 -->
	<servlet>
		<servlet-name>Tb_pucountry</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_pucountryServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_pucountry</servlet-name>
		<url-pattern>/home/admin/tb_pucountry.do</url-pattern>
	</servlet-mapping>
	<!--证件类型 -->
	<servlet>
		<servlet-name>Tb_pucard</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_pucardServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_pucard</servlet-name>
		<url-pattern>/home/admin/tb_pucard.do</url-pattern>
	</servlet-mapping>

	<!--客房信息 -->
	<servlet>
		<servlet-name>Tb_roomServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_roomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_roomServlet</servlet-name>
		<url-pattern>/home/admin/tb_room.do</url-pattern>
	</servlet-mapping>

	<!--客房类型 -->
	<servlet>
		<servlet-name>Tb_roomcatalogServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_roomcatalogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_roomcatalogServlet</servlet-name>
		<url-pattern>/home/admin/tb_roomcatalog.do</url-pattern>
	</servlet-mapping>


	<!--账单信息 -->
	<servlet>
		<servlet-name>Tb_balancementServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_balancementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_balancementServlet</servlet-name>
		<url-pattern>/home/admin/tb_balancement.do</url-pattern>
	</servlet-mapping>

	<!--订单信息 -->
	<servlet>
		<servlet-name>Tb_checkinorderServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_checkinorderServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_checkinorderServlet</servlet-name>
		<url-pattern>/home/admin/tb_checkinorder.do</url-pattern>
	</servlet-mapping>

	<!--登记表信息 -->
	<servlet>
		<servlet-name>Tb_checkinitemServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_checkinitemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_checkinitemServlet</servlet-name>
		<url-pattern>/home/admin/tb_checkinitem.do</url-pattern>
	</servlet-mapping>


	<!--客户实体信息 -->
	<servlet>
		<servlet-name>Tb_guestSertvlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_guestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_guestSertvlet</servlet-name>
		<url-pattern>/home/admin/tb_guest.do</url-pattern>
	</servlet-mapping>

	<!--操作员信息 -->
	<servlet>
		<servlet-name>Tb_operatorServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.Tb_operatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tb_operatorServlet</servlet-name>
		<url-pattern>/home/admin/tb_operator.do</url-pattern>
	</servlet-mapping>

	<!--登录 退出 -->
	<servlet>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>hotel.servlet.impl.LogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/home/log.do</url-pattern>
	</servlet-mapping>

	<!-- 过滤是否登录 -->
	<filter>
		<filter-name>LogFiter</filter-name>
		<filter-class>hotel.filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFiter</filter-name>
		<url-pattern>/home/admin/*</url-pattern>
	</filter-mapping>


	<!-- 过滤字符集 -->
	<filter>
		<filter-name>ChaFiter</filter-name>
		<filter-class>hotel.filter.ChaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChaFiter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>