@charset "UTF-8";
/*后台设置*/
/*操作员管理*/
.roommanage_01div {
	width: 100%;
	height: 79%;
	display: none;
	padding-top:100px;
	background-color: #ffffff;
}
/*退款审核*/
.roommanage_02div {
	width: 1700px;
	height: 78%;
	display: none;
	padding-top:100px;
	background-color: white;
}
/*发票查询*/
.roommanage_03div {
	width: 1400px;
	height: 78%;
	display: none;
	padding-top:100px;
	background-color: white;
}
/*信息查询*/
/*登记查询*/
.infofind_01div {
	width: 1400px;
	height: 78%;
	display: none;
	margin-left: 10px;
	padding-top:100px;
	background-color: white;
}
/*会员查询*/
.infofind_02div {
	width: 120%;
	height: 78%;
	display: none;
	padding-top:100px;
	background-color: white;
}
/*楼层管理*/
/*客房管理*/
.roomset_01div {
	width: 100%;
	height: 79%;
	display: none;
	padding-top:100px;
	background-color: white;
}
/*客房详情*/
.roomset_02div {
	width: 100%;
	height: 78%;
	display: none;
	padding-top:100px;
	background-color: white;
}
/*入住管理*/
/*查询房间*/
.behindset_01div {
	width: 100%;
	height: 92%;
	display: none;
	padding-top:30px;
	padding-left:80px;
	background-color: white;
}
/*申请退房*/
.behindset_02div {
	width: 1400px;
	height: 78%;
	display: none;
	padding-top:100px;
	background-color: #ffffff;
}
/*房间类型*/
.behindset_03div {
	width: 100%;
	height: 79%;
	display: none;
	padding-top:100px;
	background-color: white;
}


